<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <link href="~/Content/Print.css" rel="stylesheet">
    @RenderSection("Scripts", false)
    <body>
    @RenderBody()
    </body>
</html>