@using Remontinka.Server.WebPortal.Controllers
@model dynamic

@{
    ViewBag.Title = "Управление автодополнением";
}

<h1>Автодополнение</h1>
@Html.DevexpressGrid(AutocompleteItemGridController.ControllerName)