<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RemontinkaDataLayer" type="Romontinka.Server.DataLayer.EntityFramework.RemontinkaDataLayerConfiguration, Romontinka.Server.DataLayer.EntityFramework"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MailingService" type="Remontinka.Server.WebPortal.Services.MailingServiceConfiguration, Romontinka.Server.WebSite" />
  </configSections>
  <!--Служба email-->
  <MailingService Host=""
                  Port="25"
                  Password="" 
                  Login="info@remboard.ru"
                  UseSsl="False"
                  InfoEmail="info@remboard.ru"
                  FeedbackEmail="alexsoff@yandex.ru"
                  />
  <!--логирование-->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="site.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <RemontinkaDataLayer EFConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Remont;Integrated Security=True;MultipleActiveResultSets=True" EFProviderName="System.Data.SqlClient" EFMetadata="res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl"/>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="recaptchaPublicKey" value="6LeXHQsTAAAAAPfnq-afvhMY2LWmGu87ZkTz_38k" />
    <add key="recaptchaPrivateKey" value="6LeXHQsTAAAAAJPAR_dmLJcYigOlxxl1TYUgB3if" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--создаем текущую культуру, нам нужена только русская http://stackoverflow.com/questions/528545/mvc-datetime-binding-with-incorrect-date-format-->
    <globalization uiCulture="Ru-ru" culture="Ru-ru" />
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="Romontinka.Server.WebSite.Services.CustomMembershipProvider, Romontinka.Server.WebSite" connectionStringName="connectionStringSQL" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" description="Stores and retrieves        membership data from the local        Microsoft SQL Server database" />
      </providers>
    </membership>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Romontinka.Server.WebSite.Helpers" />
      </namespaces>
    </pages>
  
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear />
        <add name="CustomRoleProvider" type="Romontinka.Server.WebSite.Services.CustomRoleProvider, Romontinka.Server.WebSite" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
    <httpRuntime maxRequestLength="10000" />
    <httpHandlers>
      <!--ДАННУЮ СЕКЦИЮ ПРИ ДЕПЛОЕ НА PRODUCTION СЕРВЕР НУЖНО УДАЛИТЬ!!!-->      
      <!--Протокол терминала -->
      <add verb="*" path="protocol.pcl" type="Romontinka.Server.WebSite.Api.ProtocolRequestHandler"/>
    </httpHandlers>
  </system.web>  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      
      <add name="protocol" path="protocol.pcl" verb="*" type="Romontinka.Server.WebSite.Api.ProtocolRequestHandler, Romontinka.Server.WebSite" preCondition="integratedMode,runtimeVersionv4.0" />
      
    </handlers>
  </system.webServer>
</configuration>