@using Remontinka.Server.WebPortal.Controllers
@{
    ViewBag.Title = "Описание финансового учета";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/Description.css" />
}
<article>
    <h1>Система учета приходов и расходов</h1>
    <p>
        Главной бухгалтерской единицей в системе <strong>Ремборд</strong> служит понятие <strong>Финансовой группы</strong>. Данные группы позволяют компоновать филиальную сеть cо складами в структурные подразделения, имеющие независимые финансовые потоки. Например, имеется три филиала и два склада и руководителю необходимо вести в двух филиалах с одним складом общую бухгалтерию, а третий филиал связать с другим складом. В таком случае необходимо создать две финансовые группы и в одну из них включить
        два филиала вместе с одним складом, а в другую- оставшийся филиал с другим складом. Если же в фирме всего один филиал, достаточно включить его в единственную созданную специально для этого группу.
        Для создания данной структурной единицы необходимо перейти в меню "Финансы" -> @Html.ActionLink("Финансовые группы", "index", "FinancialGroupItem", null, new { title = "Перейти к управлению" }) и занести в таблицу соответствующие сведения.
        Необходимо всегда помнить, что один и тот же филиал или склад не может быть одновременно в разных финансовых группах.
    </p>
    <figure>
        <img src="~/Content/images/desc/createFinGroup.png" alt="Фингруппа" />
        <figcaption>
            Создание финансовой группы
        </figcaption>
    </figure>    
    <p>
        Финансовая информация распределяется по бюджетным статьям, которые можно создавать или редактировать в верхнем меню "Финансы" @Html.ActionLink("Статьи бюджета", "index", "FinancialItem", null, new { title = "Перейти к управлению" }), через кнопку <strong>Создать</strong> в области <strong>Статьи бюджета</strong> можно завести соответвующий пункт по следующим полям:

    </p>
    <ul>
        <li><em>Название</em> - наименование статьи в системе. Будет отображаться во всех финансовых отчетах.</li>
        <li><em>Дата</em> - дата заведения статьи.</li>
        <li><em>Тип статьи</em> - категории статей. Для самостоятельного ведения и занесения бухгалтерских сведений необходимо всегда выбирать "Пользовательский" тип, остальные указываются для точной настройки автоматического бухгалтерского подсчета.</li>
        <li><em>Доход/расход</em> - вид назначения статьи о прибыли или об убытках.</li>
        <li><em>Описание</em> - краткие сведения для пользователей.</li>
    </ul>
    <p>Пример добавления статьи показан ниже на картинке.</p>
    <figure>
        <img src="~/Content/images/desc/createFinItem.png" alt="Бюджетная статья" />
        <figcaption>
            Создание бюджетной статьи
        </figcaption>
    </figure> 

    <h1>Внесение текущей финансовой информации</h1>
    <p>
        После создания элементов бухгалтерии можно приступить к вводу существующих доходов и расходов. Для этого необходимо выбрать пункт меню "Финансы" -> @Html.ActionLink("Приход/расход", "index", "FinancialItemValue", null, new { title = "Перейти к внесению финансовой информации" }).
        и нажать на кнопку <strong>Создать</strong>.
        На экране возникнет диалог внесения финансовых сведений с основными полями для заполнения:
    </p>
    <ul>
        <li><em>Фингруппа</em> - наименование финансовой группы предприятия, к которой будет относиться информация.</li>
        <li><em>Статья бюджета</em> - соответсвующая категория доходов или расходов.</li>
        <li><em>Сумма</em> - общая сумма учета.</li>
        <li><em>Себестоимость</em> - необязательное поле для сравнения прибыли.</li>
        <li><em>Дата</em> - день записи бюджетной информации.</li>
        <li><em>Примечание</em> - дополнительные сведения.</li>
    </ul>

    <p>Помимо стандартных манипуляций с данными можно осуществлять их поиск по полям: "Финансовая группа", дата начала и окончания периода статей или по строке поиска по названию.</p>
    <figure>
        <img src="~/Content/images/desc/createFinItemValue.png" alt="Значение бюджетной статьи" />
        <figcaption>
            Внесение бюджетной информации
        </figcaption>
    </figure> 
    <p>Следует внимательно указывать даты вносимых значений, от них будет зависеть правильность распределения доходов и расходов за подсчитываемый период.</p>
    <h1>Отчет по доходам и расходам</h1>
    <p>
        Система позволяет создавать отчет по учтенным финансовым операциям за любой период.
        Также в автоматическом режиме <strong>Ремборд</strong> подсчитывает следующие категории данных:
    </p>
    <ol>

        <li>Приход по учтенным заказам (суммируя цены запчастей и стоимость выполненных работ).</li>
        <li>Расход по приходным накладым в складах финансовой группы (суммируя цену закупки и количество поступивших деталей).</li>
    </ol>

    <p>
        Для создания отчёта необходимо перейти в верхнее меню "Общие отчеты" @Html.ActionLink("Отчет по доходам и расходам", "Index", "RevenueAndExpenditureReport", null, new { title = "Переход к списку отчетов" }) .
        Указав интересующий период и финансовую группу, необходимо нажать кнопку <strong>Обновить</strong> и дождаться сформированного отчета.
    </p>
    <figure>
        <img src="~/Content/images/desc/createFinItemReport.png" alt="Создать отчет по доходам и расходам" />
        <figcaption>
            Отчет по доходам и расходам
        </figcaption>
    </figure> 
</article>
