@using Remontinka.Server.WebPortal.Controllers
@{
    ViewBag.Title = "Описание системы";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/Description.css" />
}

<article>
    <h1>Регистрация в системе</h1>
    <p>
        Для начала работы с системой учета Ремборд необходимо зарегистрироваться в системе - для этого нужно перейти на главную страницу сайта, справа выбрать кнопку "Регистрация" и
        попасть на страницу ввода данных будущей учетной записи.

        По окончанию заполнения информации о фирме необходимо нажать кнопку "Зарегистрировать", после чего на Вашу электронную почту, указанную в поле E-mail, должно прийти
        письмо, содержащее ссылку на активацию учетной записи. До тех пор, пока переход по данной ссылке не будет осуществлен, логин и пароль будут считаться недействительными.

        После завершения процесса активации, выбрав кнопку "Войти" и повторив ввод ранее внесенных учетных данных, Вам станет доступен интерфейс с главным меню управления данными в верхней части сайта.
    </p>
    <figure>
        <img src="~/Content/images/desc/topMenu.png" alt="Верхнее меню" />
        <figcaption>
            Верхнее меню управления сущностями
        </figcaption>
    </figure>



    <h1>Описание сущностей</h1>
    <p>
        Система учета имеет структуру, содержащую в себе следующие элементы:

    </p>
    <ul>
        <li><em>Пользователи</em>-главные объекты системы, управляющие жизненным циклом задач. В системе Ремборд они могут иметь следующие роли: администратор, менеджер и инженер. Администратор имеет доступ ко всем данным системы, может произвольно изменять информацию, заводить новых пользователей, изменять задачи. Менеджер имеет полный доступ к задачам в подконтрольных ему филиалах. Инженеры в свою очередь имеют право изменять данные только в назначенных им задачах.</li>
        <li><em>Заказы</em> - сущность, содержащая в себе информацию о принятом в работу заказе, а также контактные данные о клиенте. В процессе работы над заказом инженеры и менеджеры могут переодически редактировать информацию, добавлять свои комментарии, отмечать выполенные действия и использованные компоненты, а также осуществлять установку текущего статуса (в работе, выполнен, выдан, закрыт).</li>
        <li><em>Филиалы</em>-система, позволяющая разделять сотрудников и заказы по нескольким различным точкам. Администратор по своему желанию может указать соответвие любого филиала конкретному пользователю. При создании новой задачи приемщику необходимо выбрать определённый филиал (или в случае доступности только одного филиала, он будет выбран по умолчанию), в котором данный заказ будет обрабатываться. При желании администратор может осуществить перемещение задачи между филиалами, выбрав при редактировании желаемый филиал.</li>
        <li><em>Типы заказов</em> - маркеры, позволяющие обозначить вид заказа. При регистрации система предлагает два типа - гарантия и ремонт. Администратор может самостоятельно настроить в системе любой из этих видов заказов, а также добавить новые.</li>
        <li><em>Статусы</em> - определения стадии, на которых находится в данный момент времени конкретная задача. Жизненный цикл таких определений может быть следующих видов: новые, на исполнении, отложенные, исполненные, закрытые. Администраторы могут самостоятельно добавлять любое количество подвидов каждого из перечисленных определений текущего состояния задачи, что позволяет настраивать рабочий поток на Вашем предприятии.</li>
        <li><em>Отчеты</em> - настраиваемые формы для печати и выдачи клиентам. Могут полностью конфигурироваться для определения содержания и внешнего вида документов.</li>
        <li><em>Финансы</em> - настраевыемые финансовые подразделения филиалов фирмы, а также список статей бухгалтерского учета на предприятии.</li>
        <li><em>Приход/Расход</em> - внесенные значения бюджетных статей по датам.</li>
        <li><em>Склады</em> - общий список складов и связанных с ними поставщиков, номенклатуры и категорий.</li>
        <li><em>Складские остатки</em> - список содержания каждого из складов на текущий момент времени.</li>
        <li><em>Складские документы</em> - накладные документы для управления количеством товара на складе с возможностью пополнения, списания и перемещения.</li>
        <li><em>Общие отчеты</em> - доступные отчеты для повседневной деятельности фирмы сгруппированные по категориям.</li>
    </ul>
    <h1>Начало работы</h1>
    <p>
        Перед началом работы с системой необходимо произвести настройку описанных выше сущностей. Для наглядного примера будем считать, что описываемая фирма имеет один филиал и двух работников - менеджера и администратора. На практике в некоторых фирмах может быть один сотрудник (он же администратор в системе), в этом случае система будет предлагать его в качестве инженера и менеджера, в этом случае дополнительно заводить никаких сущностей не требуется и можно начинать работу сразу после регистрации.
        Заведем двух пользователей - менеджер Петров и инженер Сидоров. Для этого в верхнем меню выбираем управление->Пользователи. В появившемся списке пользователей нажимаем кнопку "Создать".
    </p>

    <figure>
        <img src="~/Content/images/desc/createUser.png" alt="Создание пользователя" />
        <figcaption>
            Заполнение параметров нового менеджера
        </figcaption>
    </figure>

    <p>
        Обратите внимание,при создании каждого пользователя необходимо указать, к какому филиалу он будет принадлежать (в случае администратора выбирается любой филиал, так как пользователи данной роли имеют доступ ко всем из зарегистрированных).

    </p>

    <p>
        Добавление инженера осуществляется аналогичным способом. В результате выполнения описанных действий в системе должны появиться три пользователя - один <em>администратор(ivanov)</em>, один <em>менеджер(petrov)</em> и один <em>инженер(sidorov)</em>.
    </p>
    <figure>
        <img src="~/Content/images/desc/userList.png" alt="Создание пользователя" />
        <figcaption>
            Список пользователей
        </figcaption>
    </figure>    
    
    <p>
        Чтобы принять заказ, необходимо зайти в систему от пользователя petrov и выбрать в левом меню пункт "Заказы", далее нажать на кнопку "Создать" и ввести информацию, представленную на изображении ниже. Основные поля ввода, обязательные для заполнения, указываются со звездочкой (*), если по каким-либо причинам пользователь забыл ввести информацию, система сделает ему предупреждение и попросит исправить ошибку.
        Кроме того, можно сразу назначить ответственного инженера за ремонтную работу. Если на момент заполнения исполнитель остается неизвестным, менеджер (или заполняющий администратор) может пропустить заполнение поля "Инженер".
    </p>
    <figure>
        <img src="~/Content/images/desc/createTask.png" alt="Заполнение полей" />
        <figcaption>
            Заполнение полей задачи
        </figcaption>
    </figure>
    <p>
        Если инженер не был назначен при создании нового заказа, задаче самостоятельно присваивается статус "новый", а если ответственный определен заранее-статус "на исполнении" . Такое поведение очень удобно с точки зрения отображения в личном кабинете менеджера, он может мониторить поступившие задачи без назначения исполнителя, которые будут выделяться соответствующим цветом.
        По нажатию кнопки "добавить" в списке появляется созданная задача, в которой пользователь может через детализацию заказа (будет описана позже), распечатать любой документ для клиента (обычно это квитанция о приеме).
        После назначения исполнителя, инженер может зайти в систему и увидеть в разделе "заказы" созданный заказ на ремонт, а также воспользоваться фильтром для поиска (мои заказы), если заказов будет слишком много.
    </p>

    <h1>Исполнение заказа</h1>
    <p>
        Когда инженер берет задачу в работу, в процессе выполнения он может отмечать действия, проделанные им над устройством, и вписывать все использованные запчасти, паралельно оценивая стоимость для формирования окончательных документов, а также оставлять комментарии по ходу выполнения работы. Для получения доступа к описываемым свойствам, необходимо нажать на значок детализации конкретной задачи, как показано ниже на изображении.

    </p>
    <figure>
        <img src="~/Content/images/desc/taskDetails.png" alt="Детализация" />
        <figcaption>
            Доступ к детализации
        </figcaption>
    </figure>
    <p>
        Форма детализации разделена на несколько секций: общей информации по заказу, секции доступных документов для формирования отчёта и области с дополнительными данными.
        Инженера в первую очередь будут интересовать три вкладки - выполеннные работы, запчасти и история.

    </p>
    <p>
        <em>Выполненные работы</em> - список выполненных манипуляций с заказом. Включает в себя также такие данные, как дату выполнения, имя инженера, описание проделанной работы и ее стоимость. Ниже приведен пример содержимого данной области.
    </p>
    <figure>
        <img src="~/Content/images/desc/taskWorks.png" alt="Закладка" />
        <figcaption>
            Выполненные работы
        </figcaption>
    </figure>
    <p>
        <em>Запчасти</em> - список использованных деталей для исполнения заказа. Включает в себя также такие данные, как дату выполнения, имя инженера, описание проделанной работы и ее стоимость. Для примера заполним список данными о замене аккумулятора инженером.
        Более подробные сведения об использовании деталей со склада можно прочитать в соотвествующем описании @Html.ActionLink("складского учета", "WarehouseDescription", "Home", null, null, "useWarehouseItem", null, null).
    </p>
    <figure>
        <img src="~/Content/images/desc/taskItems.png" alt="Закладка" />
        <figcaption>
            Установленные детали
        </figcaption>
    </figure>
    <p>
        <em>История</em> - отображает большинство проделанных манипуляций с задачами, таких как создание, смена ответственных пользователей, изменение контактной информации, смена статуса. Все сохранённые изменения сопровождаются информацией о дате и инициаторе внесённых правок.
        Дополнительно на данной вкладке пользователи могут оставлять комментарии по проделанной работе, которые будут отображаться другим пользователям в общем списке изменений.
        Ниже можно увидеть, как произведённые манипуляции отображаются в описываемой области.
    </p>
    <figure>
        <img src="~/Content/images/desc/taskComments.png" alt="Закладка" />
        <figcaption>
            История изменений
        </figcaption>
    </figure>
    <p>
        Далее предположим, что в процессе работы обнаружилось отсутствие запчасти на складе и необходимо ожидать ее доставку. Для этого инженер должен сменить текущий статус задачи на "Ждет запчасть", тем самым у всех пользователей, имеющих доступ к данной задаче, она будет помечена соответвующим состоянием.
    </p>
    <figure>
        <img src="~/Content/images/desc/taskChangeStatus.png" alt="Изменение статуса" />
        <figcaption>
            Редактирование статуса заявки
        </figcaption>
    </figure>
    <p>
        После появления детали на складе и проведения работ по её установке, в соответвующию детализацию вносится конкретная информация.
    </p>

    <figure>
        <img src="~/Content/images/desc/workAndItemsList.png" alt="Добавление пунктов" />
        <figcaption>
            Пункты выполненных работ
        </figcaption>
    </figure>
    <p>Как говорилось ранее, процесс изменений можно детально увидеть в окне истории по заказу</p>
    <h1>Выдача товара</h1>
    <p>
        Для завершения работы над задачей и выдачи товара клиенту, необходимо зайти в систему от имени менеджера или администратора, открыть Заявку на редактирование и указать дату выдачи, срок гарантии и присвоить ей закрытый статус.
    </p>

    <figure>
        <img src="~/Content/images/desc/closeTask.png" alt="Закрытие" />
        <figcaption>
            Закрытие заказа
        </figcaption>
    </figure>    
    <p>
        Далее для товара обычно распечатывается гарантийный талон и товарный чек на выполненные работы и установленные детали с полной итоговой суммой.
        Полная история прохождения заказа станет выглядеть следующим образом:
    </p>
    <figure>
        <img src="~/Content/images/desc/totalHistory.png" alt="Полная история" />
        <figcaption>
            История прохождения заявки
        </figcaption>
    </figure>
    <p>Одновременно с этим в списке заказов при выборе пункта "Мои задачи" закрытая заявка исчезнет. </p>
    <h1>Документы</h1>
    <p>
        Для предоставления клиентам сопроводительной документации в системе предусмотрен механизм генерации отчетов для каждой из задач. Любому пользователю по умолчанию доступно три документа - товарный чек, приемная и гарантийная. Доступ к ним производится путем выбора детализации заявки и открытия списка документов.
    </p>
    <figure>
        <img src="~/Content/images/desc/docList.png" alt="Документы" />
        <figcaption>
            Доступ к документам
        </figcaption>
    </figure>
    <p>Администратор, воспользовавшись пунктом в верхнем меню "Управление"-> "Редактор документов", может самостоятельно изменить их вид или добавить новые отчеты в перечень контекстных документов.</p>
    <figure>
        <img src="~/Content/images/desc/docEdit.png" alt="Редактор" />
        <figcaption>
            Редактор документов
        </figcaption>
    </figure>
    <p>
        Ниже приведены примерные скриншоты документации.
    </p>
    <figure>
        <img src="~/Content/images/desc/doc1.png" alt="Документы" />
        <figcaption>
            Общий вид товарного чека
        </figcaption>
    </figure>
    <figure>
        <img src="~/Content/images/desc/doc2.png" alt="Документы" />
        <figcaption>
            Общий вид приемной квитанции
        </figcaption>
    </figure>
<figure>
    <img src="~/Content/images/desc/doc3.png" alt="Документы" />
    <figcaption>
        Общий вид гарантийного талона
    </figcaption>
</figure>
    <h1 id="barcodeDescription">Штрихкод в документах</h1>
    <p>
        В системе предусмотрена поддержка создания в редактируемых документах выводить штрихкод. Для этого администратору необходимо выбрать в редакторе отчетов интересующий его документ и в необходимой позиции добавить токен данных <i>{RepairOrderNumberCode128}</i>, после обязательно сохранить отчет для применения всех изменений.
        Теперь, при формировании измененного документа, в выбранной позиции будет виден штрихкод, информация на штрихкоде соответвует номеру заказа, поэтому если в строку поиска заказов, с помощью сканера ввести значение, система просто выполнит поиск заказа с таким номером и в случае успеха, выведет его в результатах.
        </>
        <h1 id="autocompleteDescription">Автодополнение</h1>
    <p>
        В системе появилась возможность при создании заказа в полях <b>Бренд</b>, <b>Комплектация</b> и <b>Внешний вид</b> указания дополнительных подсказок к соответвующим полям. Чтобы воспользоваться такой возможностью администратор должен выбрать в верхнем меню пункт "Управление" а потом - @Html.ActionLink("Автодополнение", "Index", AutocompleteItemController.ControllerName) и перейти на страницу с таблицей возможных пунктов.
        Пользователю в отображающийся список необходимо занести все интересующие пункты по соответвующим типам (на данный момент их три - бренд, комплектация и внешний вид).
    </p>
    <figure>
        <img src="~/Content/images/desc/autcompleteItems.png" alt="Список автодополнений" />
        <figcaption>
            Внесение пунктов автодополнения
        </figcaption>
    </figure>
<p>
    После заполнения всех необходимых подсказок для пользователей, можно перейти в список заказов и вызвать диалог создания нового заказа. Теперь в поле <b>Бренд</b>, если начать вбивать текст, система выведет подсказки при нахождении в них соответствия набранной строки. Такое поведение будет и в полях <b>Комплектация</b> и <b>Внешний</b>.
    Все поля по-прежнему можно заполнять вручную независимо от содержания пунктов автозаполнения.
</p>
<figure>
    <img src="~/Content/images/desc/autocompleteAction.png" alt="Автодополнение" />
    <figcaption>
        Автодополнение в действии
    </figcaption>
</figure>
    
    <h1 id="customerAccessDescription">Информация о заказе для клиентов</h1>
    <p>
        У всех заказов создаваемых с ноября 2016 года появляется возможность проверки на сайте remboard.ru (ссылка в верхнем меню "Проверка заказа"). Чтобы клиенты самостоятельно смогли получить доступ к статусу заказа, а также к некоторой другой информации, необходимо в структуру приемного документа добавить следующие токены:
    </p>
    <p><b>Проверка заказа: http://remboard.ru/customer глобальный номер: {DomainRepairOrderNumber}, код доступа: {DomainRepairOrderPassword}</b></p>
    <p>После этого, при генерации документа для клиента, отобразится такая структура</p>
    <figure>
        <img src="~/Content/images/desc/customerOrderInfo.png" alt="Информация для клиента" />
        <figcaption>
            Данные для доступа к информации по заказу
        </figcaption>
    </figure>
    <p>Клиент, имея на руках данные по глобальному номеру заказа и коду доступа, может в любое время зайти на наш сайт, ввести информацию в соответствующие поля и просмотреть текущий статус его заказа. Следует учесть, что на данный момент отображается только наименование текущего статуса, а также данные из поля "Рекомендации клиенту".</p>
</article>