@model Remontinka.Server.WebPortal.Models.ChangePasswordModel

@{
    ViewBag.Title = "Смена текущего пароля";
}

<h2>Смена текущего пароля</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "ChangePasswordFormLayout";
    settings.SetDefaultSettings(Model.Token);
    settings.ColCount = 1;
    settings.Width = Unit.Percentage(40);
    settings.Items.Add(m => m.OldPassword, item =>
    {
        item.NestedExtension().TextBox(i =>
        {
            i.SetDefaultSettings(Model.Token);
            i.Properties.Password = true;
        });
    });

    settings.Items.Add(m => m.NewPassword, item =>
    {
        item.NestedExtension().TextBox(i =>
        {
            i.SetDefaultSettings(Model.Token);
            i.Properties.Password = true;
        });
    });
    settings.Items.Add(m => m.ConfirmPassword, item =>
    {
        item.NestedExtension().TextBox(i =>
        {
            i.SetDefaultSettings(Model.Token);
            i.Properties.Password = true;
        });
    });
}).GetHtml()

@Html.DevExpress().Button(settings =>
{
    settings.RenderMode = ButtonRenderMode.Button;
    settings.Name = "ChangePasswordButton";
    settings.Text = "Сменить пароль";
    settings.UseSubmitBehavior = true;
}).GetHtml()

}