@{
    ViewBag.Title = "Отправка письма";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}
<div class="container">
    <hr class="prettyline">
    <br>
    <center>

        <h3>
            <b>ViewBag.Title</b>
        </h3>
        <h1>Отправлено письмо для восстановления пароля, проверьте электронную почту и следуйте инструкциям в полученном письме.</h1>
        <br>

        <a class="button btn btn-primary btn-lg" href="@Url.Action("Index","Home")">Вернуться на главную</a>

    </center>
    <br>
    <hr class="prettyline">
</div>

