
@{
    ViewBag.Title = "Регистрация пользователя";
    Layout = "~/Views/Shared/_BusinessLayout.cshtml";
}

<div class="container">
    <hr class="prettyline">
    <br>
    <center>
        
            <h3>
                <b>Успех</b>
            </h3>
            <h1>Пользователь успешно зарегистрирован, проверьте электронную почту и следуйте инструкциям в полученном письме.</h1>
            <br>

            <a class="button btn btn-primary btn-lg" href="@Url.Action("Index","Home")">Вход</a>
       
    </center>
    <br>
    <hr class="prettyline">
</div>


