@{
    ViewBag.Title = "Описание offline клиента";
}
<article>
    <h1>Клиент удаленного доступа к сервисам</h1>
    <p>
        Иногда в повседневной работе ремонтной мастерской бывают ситуации, когда по тем или иным причинам сервис online учета Remboard не доступен (например, отсутствие интернета или профилактические работы на сайте), 
        а работа с клиентами фирмы должна продолжаться в обычном режиме. Необходимо осуществлять прием и выдачу заказов, печать приемных документов и гарантийных чеков, при этом оперативно сохраняя информацию в системе учета.
        Чтобы осуществлять деятельность фирмы без остановки регистрации действий в электронном варианте и был создан Offline клиент сервиса remboard.ru. 
    </p>
    <p>
        Данное приложение представляет собой программу для работы в операционной системе Windows с установленным <a href="~/soft/dotNetFx40_Full_x86_x64.exe">framework 4.0</a>.
        Приложение позволят делать двухсторонние синхронизации по действиям с заказами как в онлайн режиме на сайте, так и в Offline клиенте (создание, редактирование, комментирование). Все изменения, произведенные
        на данном клиенте, при следующей синхронизации будут учтены на сайте. Однако, в работе сравнения изменений есть важная оговорка - если один и тот же заказ редактировался в двух разных местах, то наибольший приоритет будет у операций, производимых на сайте.
    </p>
     <figure>
    <img src="~/Content/img/client.png" alt="Клиент"/>
        <figcaption>
        Общий вид offline клиента
        </figcaption>
    </figure> 

    <h1>Шаги установки и настройка</h1>
    <ul>
        <li>Загрузка и инсталяция <a href="~/soft/dotNetFx40_Full_x86_x64.exe">framework 4.0</a></li>
        <li>Загрузка и инсталяция самого <a href="~/soft/RemontinkaSetup.msi">клиента</a>. При установке необходимо будет выбрать папку для размещения файлов. Программа предлагает создание каталога в Program Files, однако можно его установить и в другую папку.</li>
        <li>Отправка запроса на регистрацию ключей пользователя.</li>
        <li>Активация ключа пользователя</li>
        <li>Первичная синхронизация</li>
    </ul>
    <figure>
    <img src="~/Content/img/choiseSetupFolder.png" alt="Выбор папки"/>
        <figcaption>
        Установщик клиента
        </figcaption>
    </figure> 
    
    <p>
        После успешной установки на рабочем столе будет создан ярлык программы с названием remboard.ru. При нажатии на него запустится программа updater.exe., главной функцией которой является проверка перед каждым запуском наличия обновлений, на данный момент для корректной работы будут требоваться администраторские права (т.е. пользователь должен быть Администратором компьютера). 
        При первом запуске приложения служба обновления скачает полный список файлов, необходимых для корректной работы программы, поэтому наличие интернета с доступом на сайт remboard.ru обязательно. При последующих запусках наличие интернета не обязательно, система обновления просто сообщит об этом и выведет кнопку запуска клиента без проверки обновлений.
    </p>
    <figure>
    <img src="~/Content/img/updaterWork.png" alt="Скачивание обновлений"/>
        <figcaption>
        Проверка и загрузка необходимых файлов
        </figcaption>
    </figure> 
    <p>
        После успешного запуска клиент предложит выбрать зарегистрированных пользователей из списка и ввести пароль. При первом использовании этот список будет пуст, поэтому для начала работы необходимо зарегистрировать уже существующего пользователя на сайте remboard.ru.
        Для этого необходимо нажать на кнопку "Регистрация" и ввести все данные. Необходимо помнить о том, что имена пользователей на клиенте и сайте должны совпадать, а вот пароли не обязаны быть одинаковыми! Так например, если на сайте есть пользователь ivanov, тогда и на клиенте необходимо зарегистрировать пользователя с таким же логином, а вот пароль можно подобрать любой.
        Также в рассматриваемой форме есть поле "Комментарий", здесь можно записать любой текст, чтобы как-то идентифицировать запрос в специальной панели администратора на сайте.
        После внесения всех данных необходимо нажать на кнопку "Отправить запрос", при этом на клиенте сформируется пара Rsa ключей в виде двух файлов (для идентификации клиента), а затем один из ключей (публичный ключ) будет отправлен на сайт для подверждения.
        После выполнения описанных операций в приложении появится сообщение об успешной регистрации пользователя. 
      <br/>
        При попытке первого входа в приложение без выполнения указанных операций система выдаст ошибку о неактивированном ключе.
        </p>
        <figure>
    <img src="~/Content/img/clientUserRegistration.png" alt="Регистрация"/>
        <figcaption>
        Процесс регистрации
        </figcaption>
        </figure> 
    <h1>Публичные ключи и активация</h1>
    <p>
        Система авторизации Offline клиента работает по процедуре электронной подписи запросов, организованной посредством обмена публичными RSA ключами. Т.е. на каждом клиенте генерируется с помощью <a href="https://www.openssl.org/">openssl</a> пара публичного и закрытого ключа. После этого приложение отправляет данные открытого ключа на регистрацию в системе, где пользователь "Администратор" должен будет подвердить принятие публичного ключа, с которым система сможет 
        проверять пришедшие запросы со стороны клиента.
         <br/>Если на предыдущем шаге был отправлен запрос на сервер, то авторизовавшийся на сайте пользователь с правами администратора может выбрать в левом меню ссылку "Запросы регистрации" и получить список всех заявленных регистрационных данных. В них содержится информации о публичном ключе, времени прихода запроса, IP клиента, с которого этот запрос пришел, пользователе, к которому привязываются ключи, а также информация из поля "комментарий" на Offline клиенте.
        Для подтверждения конкретного запроса необходимо выбрать соответствующий пункт и нажать кнопку редактирования, администратору при этом откроются детализированные данные по запросу с флажком "Активировать", выбрав который и нажав кнопку "Изменить" администратор запустит процесс активации конкретного публичного ключа.
        
    </p>
    
     <figure>
    <img src="~/Content/img/clientPublicRequest.png" alt="Активация запроса"/>
        <figcaption>
        Процесс активации запроса
        </figcaption>
     </figure> 
    <p>
        Для проверки успешности активации необходимо в левом меню выбрать пункт "Ключи клиентов" и найти в списке данные по только что активированному ключу. При желании можно отозвать любой ключ, при этом данный пользователь перестанет иметь возможность осуществлять синхронизацию с сайтом.
    </p>
     <figure>
    <img src="~/Content/img/clientPublicKeys.png" alt="Список публичных ключей"/>
        <figcaption>
        Список публичных ключей
        </figcaption>
     </figure> 
    <h1>Работа с клиентом</h1>
    <p>
        После прохождения процедуры регистрации можно еще раз запустить приложение (если оно закрыто) и путем выбора соотвествующего пользователя ввести пароль от Offline клиента (может отличаться от серверного).
        Если все было сделано правильно, при первом входе Offline клиент попросит совершить первую синхронизацию с сервером. Это необходимо для получения полной информации с сервера.
       
        Для запуска обновления информации необходимо нажать кнопку "Начать". После этого сервис начнет процесс синхронизации данных.
    </p>
     <figure>
    <img src="~/Content/img/clientSync.png" alt="Синхронизация"/>
        <figcaption>
        Процесс синхронизации
        </figcaption>
     </figure> 
    <p>
        После успешного завершения процесса обновления данных необходимо еще раз нажать кнопку "Начать", после чего программа переведет пользователя на синхронизированный список заказов.
        Данный экран аналогичен странице "Заказы" на сайте. В нем можно совершать действия по изменению параметров существующих заказов, а также создавать новые. 
    </p>
    
    <p>Главное окно клиента состоит из двух частей, левая - это непосредственно список заказов с фильтрами и правая - список деталей по каждому заказу, таких как- установленные запчасти, выполненные работы, история и комментарии.
    </p>
    
    <figure>
    <img src="~/Content/img/clientOrderList.png" alt="Список"/>
        <figcaption>
        Вид главного окна заказов.
        </figcaption>
    </figure> 
    <p>
        Для изменения информации по задаче необходимо выбрать заказ, нажать правую клавишу мыши и выбрать пункт "Редактировать", после чего откроется второе окно приложения с информацией для изменения. По окончанию процесса редактирования для фиксации изменений необходимо нажать кнопку "Сохранить"
    </p>
     <figure>
    <img src="~/Content/img/clientEdit.png" alt="Редактирование"/>
        <figcaption>
        Вид окна редактирования заказа.
        </figcaption>
     </figure> 
    <p>
        Для создания или редактирования работы или запчасти необходимо также выбрать соответствующий пункт и с помощью контекстного меню вызвать окно изменения свойств.
    </p>
    <h1>Работа с пользовательскими документами</h1>
    <p>Все документы для работы с заказами, доступные на сайте, после синхронизации будут доступны и на Offline клиенте. Для того, чтобы ими воспользоваться, необходимо выбрать интересующий заказ, открыть контектсное меню правой кнопкой мыши и после первого разделителя в данном меню выбрать соответсвующий документ.
        Затем система сформирует по данным на Offline клиенте соответствующий отчет и выдаст в отдельном окне с возможностью распечатать на принтере.
    </p>
     <figure>
     <img src="~/Content/img/clientPrintCustomReport.png" alt="Печать"/>
        <figcaption>
        Вид окна печати документа заказа.
        </figcaption>
     </figure> 
    <h1>Дальнейшая работа и примечания</h1>
    <p>Для отправки изменений на сайт или загрузки с online сайта на компьютер других задач необходимо воспользоваться инструментом "Синхронизация".</p>
    <h2><i>Следует помнить:</i></h2>
    <ul>
        <li>Изменения на сайте имеют бОльший приоритет; если задачу редактировали в двух местах после синхронизации на клиенте все локальные изменения потеряются.</li>
        <li>У заказов, созданных локально, отличается система нумерации, к ним добавляется префикс "U"</li>
        <li>После синхронизации в Offline клиенте появляются все пользователи домена (с сайта). Для того, чтобы каждый из них мог пользоваться Offline клиентом локально, для каждого необходимо произвести процедуру регистрации публичного ключа.</li>
        <li>В Offline клиенте можно удалять только вновь созданные заказы,  не прошедшие синхронизацию с сервером</li>
    </ul>
</article>