@{
    ViewBag.Title = "Система online учета в сервисном центре и ремонтной мастерской";
}
<div class="headinfo">
<div class="textBound">
    Приложение, позволяющее автоматизировать работу и учет в сервисном центре или ремонтной мастерской. Простой и удобный online интерфейс программы, созданный для помощи в решении профессиональных задач Ваших специалистов.
    @if (!User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Register", "Account")" class="btn">Регистрация</a>
    }
</div>

<img alt="Head" src="~/Content/Head.jpg"/>
</div>
<div class="listsPanel">

<h1>Основные возможности:</h1>    
 <ul>
    <li>Учет в сервисном центре.</li>
     <li>Учет в ремонтной мастерской.</li>
    <li>@Html.ActionLink("Offline клиент", "ClientDescription", "Home") .</li>
    <li>Распределение работы по трем основным ролям: администратор, менеджер и инженер.</li>
    <li>Заведение и настройка множества филиалов в компании.</li>
    <li>Привязка каждого пользователя к любому из имеющихся филиалов.</li>
    <li>Гибкая настройка статусов исполнения заявок, позволяющая отразить основные этапы прохождения их через рабочии процессы в Вашем предприятии.</li>
    <li>Личный кабинет для каждого пользователя, отображающий актуальные задачи для текущего специалиста.</li>
    <li>Множество фильтров в общем списке заявок.</li>
    <li>Три основных встроенных документа для печати клиентам: приемная, гарантийная и накладная.</li>
    <li>Возможность самостоятельно править существующие документы прямо в браузере, а также создавать новые.</li>
    <li>Система @Html.ActionLink("складского учета ", "WarehouseDescription", "Home") позволяющая вести управление имеющимися компонентами на Вашем складе.</li>
 </ul>
</div>
<div class="listsPanel">

<div class="infoBox">
<h1>Наши преимущества:</h1>    
 <ul>
    <li>Период бесплатной регистрации - на данный момент оплата за пользование не взымается</li>
    <li>Постоянное обновление программного комплекса, создающее все более комфортные условия для Вашей работы</li>
    <li>Доступ 24/7 к функционалу управления Вашим бизнесом из любой точки планеты, где есть подключение к сети Интернет</li>    
 </ul>
 </div>
 <div class="infoBox">
<h1>Наши планы:</h1>    
 <ul>
    <li>Создание системы рассылки SMS сообщений</li>    
 </ul>
 </div>
</div>