@model Romontinka.Server.WebSite.Models.TestModel

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_LayoutTest.cshtml";
}
<form action="adsasd.html">
@Html.EditorFor(m=>m.UserID)
@Html.EditorFor(m => m.Account)
    <input type="submit" />
</form>