<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RemontinkaDataLayer" type="Romontinka.Server.DataLayer.EntityFramework.RemontinkaDataLayerConfiguration, Romontinka.Server.DataLayer.EntityFramework"/>    
  </configSections>
  <RemontinkaDataLayer EFConnectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Remont;Integrated Security=True;MultipleActiveResultSets=True" EFProviderName="System.Data.SqlClient" EFMetadata="res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl"/>
</configuration>