<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RemontinkaDataLayer" type="Remontinka.Client.DataLayer.EntityFramework.RemontinkaDataLayerConfiguration, Remontinka.Client.DataLayer.EntityFramework"/>    
  </configSections>  
  <RemontinkaDataLayer EFConnectionString="data source=D:\Database\data.db" EFProviderName="System.Data.SQLite" EFMetadata="res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl"/>
</configuration>