@model Romontinka.Server.WebSite.Models.WarehouseItemSingleLookupForm.JLookupWarehouseItemModel
<div class="goodsitemlookupcol goodsitemlookuptitle">
@Model.GoodsItemTitle
</div>
<div class="goodsitemlookupcol goodsitemlookupcount">
@string.Format("{0} {1}", Model.ItemCount,Model.DimensionKindTitle) 
</div>
