<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Database\data.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>