@using Remontinka.Server.WebPortal.Controllers

@{
    ViewBag.Title = "Управление приходными накладными";
}

<h1>Приходные накладные</h1>
@Html.DevexpressGrid(IncomingDocGridController.ControllerName)