@model Romontinka.Server.WebSite.Models.Account.RecoveryPasswordModel

@{
    ViewBag.Title = "Смена пароля";
}
@using (Html.BeginForm())
{

    <fieldset>
    <legend><h1>Заполните данные</h1></legend>
        @Html.EditorFor(m=>m.NewPassword)
        @Html.EditorFor(m=>m.ConfirmPassword)
        @Html.HiddenFor(m=>m.RecoveryNumber)
    <input type="submit" value="Сменить" class="btn"/>
    </fieldset>
   
}