@{
    ViewBag.Title = "Ошибка при восстановлении пароля";
}

<p class="error">Произошла ошибка в процессе восстановления пароля, просьба обратиться к администратору системы через @Html.ActionLink("форму обратной связи","Feedback","Home")</p>
