@{
    ViewBag.Title = "Регистрация пользователя";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <br/>
    <h2>Пользователь успешно зарегистрирован, проверьте электронную почту и следуйте инструкциям в полученном письме.</h2>
</hgroup>
